@font-face {
    font-family: 'gothammedium';
    src: url('fonts/gothammedium-webfont.eot');
    src: url('fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gothammedium-webfont.ttf') format('truetype'), url('fonts/gothammedium-webfont.svg#gothammedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'primeregular';
    src: url('fonts/prime-regular-webfont.eot');
    src: url('fonts/prime-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/prime-regular-webfont.ttf') format('truetype'), url('fonts/prime-regular-webfont.svg#primeregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
:root {
    --base-font-size: 10px;
    font-size: var(--base-font-size);
    --font-gotham :"gothammedium";
    --font-prime : "primeregular";
    // colors
    --primary-blue: #0f7fe7;
    --secondary-blue: #1383e8;
    --tertiary-blue: #2b99f7;
    --quaternary-blue: #0070be;
    --quaternary-dark-blue: #141fff;
    --quaternary-dark-blue-1: #3f98c5;
    --quaternary-dark-blue-2: #5142FF;
    --quaternary-blue-rgb: 0, 112, 190;
    --quaternary-blue-light: #3997c8;
    --connect-blue: #3aa4ff;
    --logo-blue: #252362;
    --txt-blue: #193983;
    --sky-blue: #44d5ff;
    --light-blue: #eef7fe;
    --dark-blue: #2e9df7;
    --mid-blue: #ddf2fd;
    --white: #ffffff;
    --black: #000000;
    --grey-1: #6e6e6e;
    --grey-2: #a7a7a7;
    --grey-3: #cecece;
    --grey-4: #f4f4f4;
    --grey-5: #e2e3e4;
    --grey-6: #cccccc;
    --grey-7: #c3c3c3;
    --grey-8: #e8e8e8;
    --grey-9: #bcbcbc;
    --grey-10: #d7d7d7;
    --grey-11: #ebebeb;
    --grey-12: #fdfdfd;
    --grey-13: #f1f2f2;
    --grey-14: #939598;
    --grey-15: #848484;
    --grey-16: #e6e7e8;
    --grey-17: #a7a9ac;
    --grey-18: #b8b8b8;
    --grey-19: #e5e5e5;
    --grey-20: #efeff0;
    --grey-21: #f3f4f4;
    --grey-22: #f9f9f9;
    --grey-23: #f7f7f7;
    --grey-24: #4e4e50;
    --grey-25: #fafafa;
    --grey-26: #f6f6f6;
    --grey-27: #585858;
    --grey-28: #333333;
    --grey-29: #999999;
    --grey-30: #e7e7e7;
    --grey-31: #666666;
    --grey-32: #dddddd;
    --grey-33: #222222;
    --grey-34: #fbfaf8;
    --grey-35: #3b3b3b;
    --grey-36: #9e9e9e;
    --grey-37: #E3EAF1;
    --skay-11: #1b5586;
    --skay-12: #44a5f8;
    --skay-13: #42bbfb;
    --pink-1: #eca399;
    --pink-2: #fdebcc;
    --varient-color-3: #14558b;
    --varient-color-4: #57d9ff;
    --tvs-darkestblue: #1b2f40;
    --tvs-darkblue: #1b5688;
    --light-grey-1: #f0f0f0;
    --dark-grey-1: #4b4b4b;
    --dark-grey-2: #909090;
    --dark-grey-3: #bcbec0;
    --primary-green: #36ff86;
    --secondary-green: #33bb83;
    --tertiery-green: #32dcbd;
    --primary-red: #d71920;
    --primary-yellow: #faf2c9;
    --primary-sky-blue: #cdebf5;
    --light-red: #f7dcde;
    --tvs-red: #f12a00;
    --tvs-blue: #183883;
    --red-1: #e60000;
    --red-2: #ff7373;
    --red-3: #ed1c24;
    --red-4: #e48a7e;
    --light-sky-blue-1: #eaf5fe;
    --light-yellow: #f9f2c8;
    --light-sky: #d0eef9;
    --light-pink: #f6dadc;
    --yellow-1: #fb9b29;
    --yellow-2: #ffc22f;
    --yellow-3:#d2b22d;
    --olive-green: #455b2f;
    --racing-red-glossy: #c82e30;
    --midnight-blue: #2f315b;
    --midnight-dark-blue: #031f31;
    --titanium-grey-glossy: #878a93;
    --pearl-white: #ffffff;
    --mercury-grey-glossy: #5e6370;
    --mint-blue-glossy: #87b9e3;
    --lucid-yellow: #ebc53e;
    --copper-bronze-glossy: #945e54;
    --starlite-blue-glossy: #1e3d70;
    --titanium-grey-matte: #878a93;
    --coral-sand-glossy: #deaa8e;
    --copper-bronze-matte: #945e54;
    --color-olive-green: #ff9600;
    --color-midnight-lime: #00da00;
    --lime-1: #46a02e;
    --lime-2: #12f900;
    --lime-3:#60b97f;
    --lime-4:#37AA24;
    --lime-5:#e1f2d7;
    --lime-6:#0CD392;
    --brand-color: #a6ddb9;
    --brand-color-1:#7ec797;
    --brand-color-2:#d2eedc;
    --brand-color-fade:#eff8f1;
    --brand-color-yellow-fade:#fef8e1;
    --shinning-red:#c41616;
    --step-wizard-green:#7BC875;
    --status-orange:#FB7931;
    --clear-skies: #e9f6fe;
    --light-peach:#FDE7DC;
    --walnut-brown:#5c3d31;
    --pearl-white-og: #ffffff;
    --orange-black:#d76836;
    --black-orange:#222222;

     // new design
     --rapeseed-blossom: #FBE84A;
     --warm-light:#fefad9;

    //homepage refresh
    --focus-on-light: #fdfad4;
    --mellow-coral: #e0877b;
    --yellow-brick-road: #e5c955;
    --frog-pond: #70b488;
    --coastline-blue: #4797bf;

    --french-manicure: #ffe6dc;
    --focus-on-light: #fffad4;
    --light-silverton: #cde6d7;
    --wizard-white: #e1f2fc;
    //homepage refresh END


    --brand-color-pink: #f8aba1;
    --brand-color-yellow: #fadc5e;
    --yellow-02: #FEA218;
    --light-blue-sky: #53aad6;
    --light-black: #36a9f9;
    --font-grey: rgba(0, 0, 0, 0.8);
    --font-light-grey: rgba(0, 0, 0, 0.3);
    --font-very-light-grey: rgba(0, 0, 0, 0.1);
    --font-blue: rgba(0, 0, 0, 0.6);
    --font-black: rgba(0, 0, 0, 0.2);
    --font-light-blue: rgba(0, 0, 0, 0.06);
    --border-grey: rgba(0, 0, 0, 0.15);
    --border-dashed-grey: rgba(75, 75, 75, 0.7);
    --border-off-white: rgb(255, 255, 255, 0.4);
    --font-light-white: rgb(255, 255, 255, 0.7);
    --font-shadow-white: rgb(255, 255, 255, 1);
    --bg-dark-blue: rgb(65, 186, 251, 0.15);
    --border-grey-dark: rgba(75, 75, 75, 0.7);
    // header variables
    --header-shadow: 6px 10.4px 24.8px 2.2px rgba(0, 0, 0, 0.20);
    --header-height: 6rem;
    //button
    --btn-primary-start-color: #2993dc;
    --btn-primary-end-color: #2484c6;
    --btn-secondary-start-color: #585858;
    --btn-secondary-end-color: #3e3e3e;
    --btn-warning-start-color: #ff9000;
    --btn-warning-end-color: #f92900;
    --btn-warning-text: #fc5600;
    --btn-light-warning-text: #ff5400;
    // shadow
    --shadow-lg: 0px 18px 76.1px 4.9px rgba(0, 0, 0, 0.15);
    --shadow-md: 0px 5px 14.7px 1.3px rgba(0, 0, 0, 0.10);
    --shadow-sm: 0px 6px 12px 0 rgba(0, 0, 0, 0.3);
    --shadow-xs: 0px 4px 8.1px 0.9px rgba(0, 0, 0, 0.15);
    --shadow-xxs: 0px 3px 3px 0 rgba(0, 0, 0, 0.1);
    --input-shadow: 0px 2px 8.5px 0.5px rgba(0, 0, 0, 0.16);
    --btn-shadow-desktop: 0px 9px 40.7px 8.3px rgba(0, 0, 0, 0.23);
    --icon-shadow: 0px 6px 5.6px 0.4px rgba(0, 0, 0, 0.15);
    --shadow-light: 0px 5px 10px 0 rgba(0, 0, 0, 0.15);
    --card-md: 0px 5px 13.5px 1.5px rgba(0, 0, 0, 0.25);
    --text-shadow: -3px 0px 7.7px rgba(0, 0, 0, 0.23);
    --card-shadow: 0px 9px 35.1px 4.9px rgba(20, 10, 10, 0.1);
    --card-light-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    --link-card-shadow: 0px 18px 76.1px 4.9px rgba(0, 0, 0, 0.16);
    --sticky-header-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.4);
    --sticky-header-dark-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    --dashboard-shadow: 1px 1px 23px -5px rgba(206, 206, 206, 1);
    --dashboard-shadow-left: 5px 1px 21px -8px rgba(206, 206, 206, 1);
    --dashboard-shadow-expand: 1px 10px 10px 0px rgba(0, 0, 0, 0.08);
    --fual-box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.1);
    --faq-shadow: 0 2px 10px 0 rgb(0 0 0 / 25%);
    --popup-shadow: 0px 10px 18.8px 6.3px rgba(0, 0, 0, 0.3);
    --sticky-notes-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
    --variant-btn-shadow: 0px 9px 18px 2px rgba(0, 0, 0, 0.15);
    --variant-fill-shadow: 5px 1.7px 15px 0 rgb(0 0 0 / 10%);
    --camparision-card-shadow: 0px 14px 18.6px 1.4px rgba(0, 0, 0, 0.15);
    --tabs-shadow: 0px 3px 14px 0 rgba(0, 0, 0, 0.3);
    --acc-shadow: 0px 7px 7.8px 0.2px rgba(0, 0, 0, 0.15);
    --drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);


}