.img-body img {
    display: flex;
    margin: 0 auto;
    height: 40vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .img-body {
    width: 400px;
    aspect-ratio: 1/1;
    outline-color: red;
    display: inline-block;
  }

  .navbar-nav {
    display: inline-block !important;
}

nav.navbar {
    background-color: #fff;
    height: 80px;
    border-radius: 0
}

@media (min-width: 815px) {
    nav.navbar {
        height:96px;
        box-shadow: 0 0 15px -7px rgba(0,0,0,0.4)
    }
}

@media (max-width: 815px) {
    nav.navbar {
        width:100%;
        height: 66px;
        border-bottom: solid 2px #e2e0df
    }
}

@media (max-width: 815px) {
    nav.navbar .layoutWrap {
        width:100%
    }
}

nav .navbar-header>img,nav .navbar-brand>img {
    display: inline-block
}

nav .navbar-brand {
    height: auto;
    padding: 20px 15px 5px 0;
    display: inline-block
}

@media (max-width: 815px) {
    nav .navbar-brand {
        padding:17px 12px 5px 10px;
        float: none
    }
}

@media (max-width: 360px) {
    nav .navbar-brand {
        padding-top:22px
    }

    nav .navbar-brand>img {
        width: 100px
    }
}
.navbar-nav {
    display: inline-block !important;
}

@media (max-width: 815px) {
    nav .navbar-nav {
        margin:0;
        max-height: inherit;
        height: calc(100vh - 60px);
        background: #ffffff;
        display: inline-block !important;
    }
}

nav .navbar-collapse {
    text-align: center;
    margin-top: 4px
}

@media (max-width: 815px) {
    nav .navbar-collapse {
        margin:0;
        padding: 0
    }
}

nav .navbar-collapse .nav.navbar-nav {
    display: flex;
    margin-right: 24px
}

@media (max-width: 1600px) {
    nav .navbar-collapse .nav.navbar-nav {
        margin-right:88px
    }
}

@media (max-width: 815px) {
    nav .navbar-collapse .nav.navbar-nav {
        display:block;
        margin-right: 0
    }
}

nav .cart-nav.cart-nav-mbl {
    display: none
}

@media (max-width: 815px) {
    nav .cart-nav.cart-nav-mbl {
        display:inline-block;
        top: 15px;
        right: 15px
    }
}

nav .cart-nav {
    position: absolute;
    right: 0;
    top: 55px
}

nav .cart-nav .dropdown-menu {
    right: 0;
    left: auto;
    padding: 0;
    border-radius: 0;
    border: 0 none
}

nav .cart-nav .dropdown-menu li>a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-display: swap;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: solid 1px #e0e0e0
}

nav .cart-nav .dropdown-menu li>a:hover {
    color: #fff;
    background-color: #f12a00
}

nav .cart-nav span.cart-count {
    position: absolute;
    width: auto;
    height: 17px;
    background-color: #f12a00;
    color: #fff;
    font-size: 10px;
    text-align: center;
    right: 5px;
    top: -5px;
    padding: 0 5px
}

@media (max-width: 815px) {
    nav .cart-nav {
        display:none
    }
}

@media (max-width: 1600px) {
    nav .cart-nav {
        right:0
    }
}

nav .cart-nav>li {
    display: inline-block
}

nav .cart-nav>li a.profile::after {
    background-color: transparent
}

nav .cart-nav>li a.cart::after {
    background-color: transparent
}

nav .cart-nav>li .profile {
    font-size: 13px;
    line-height: 17px;
    color: #303030;
    padding: 5px 0 5px 32px;
    margin-right: 5px;
    margin-top: 2px;
    display: inline-block
}

@media (min-width: 815px) {
    nav .cart-nav>li .profile {
        padding-top:22px;
        background-position: 5px 2px;
        background-size: 24px;
    }
}

@media (min-width: 815px) {
    nav .cart-nav>li .profile.ecompro {
        padding-top:20px
    }
}

nav .cart-nav>li .cart {
    font-size: 13px;
    line-height: 17px;
    color: #303030;
    padding: 20px 0 5px 32px;
    margin-right: 5px;
    margin-top: 2px;
    display: inline-block;
    background-position: 0 -1px;
    background-size: 32px;
}

nav .navbar-nav>li {
    float: none;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block
}

@media (min-width: 817px) {
    nav .navbar-nav>li {
        margin-left:1px;
        margin-right: 1px
    }
}

@media (min-width: 890px) {
    nav .navbar-nav>li {
        margin-left:5px;
        margin-right: 5px
    }
}

@media (min-width: 1024px) {
    nav .navbar-nav>li {
        margin-left:4px;
        margin-right: 4px
    }
}

@media (min-width: 1500px) {
    nav .navbar-nav>li {
        margin-left:14px;
        margin-right: 14px
    }
}

@media (max-width: 815px) {
    nav .navbar-nav>li {
        display:inline-block;
        width: 100%;
        background: #ffffff;
        margin: 0;
        text-align: left;
        border-bottom: solid 1px #eae9e9
    }
}

@media (max-width: 1600px) {
    nav .navbar-nav>li {
        margin-left:4px;
        margin-right: 4px
    }
}

nav .navbar-nav>li.open>a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background-color: #f12a00
}

nav .navbar-nav>li>a {
    padding: 15px 0 15px 20px;
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-display: swap;
    text-transform: uppercase;
    position: relative
}

nav .navbar-nav>li>a.e-showroom-link {
    color: #003486
}

@media (min-width: 817px) {
    nav .navbar-nav>li>a {
        font-size:10px;
        padding: 15px;
    }
}

@media (min-width: 1270px) {
    nav .navbar-nav>li>a {
        font-size:15px
    }
}

@media (min-width: 1440px) {
    nav .navbar-nav>li>a {
        font-size:16px
    }
}

@media (min-width: 1700px) {
    nav .navbar-nav>li>a {
        font-size:18px
    }
}

nav .navbar-nav>li>a .caret {
    border: solid 1px red;
    border: 0 none;
    height: 8px;
    margin-top: -3px;
    width: 10px
}

nav .navbar-nav>li>a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: #f12a00;
    transition: all .3s
}

nav .navbar-nav>li>a:hover,nav .navbar-nav>li>a:focus,nav .navbar-nav>li>a.active {
    background-color: transparent
}

nav .navbar-nav>li>a:hover:after,nav .navbar-nav>li>a:focus:after,nav .navbar-nav>li>a.active:after {
    width: 100%
}

nav .navbar-nav>li .dropdown-menu {
    border-radius: 0;
    border: 0 none;
    margin-top: 1px;
    padding: 0;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0)
}

@media (min-width: 815px) {
    nav .navbar-nav>li .dropdown-menu {
        left:-26px;
        transform: inherit
    }
}

@media (max-width: 815px) {
    nav .navbar-nav>li .dropdown-menu {
        width:100% !important;
        position: relative !important
    }
}

nav .navbar-nav>li .dropdown-menu>li>a {
    padding: 15px 35px 15px 25px;
    font-size: 14px;
    display: block;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-display: swap;
    text-transform: uppercase;
    transition: all .3s
}

@media (max-width: 815px) {
    nav .navbar-nav>li .dropdown-menu>li>a {
        font-size:15px;
        border-bottom: solid 1px #eae9e9;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        color: #848484
    }
}

nav .navbar-nav>li .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: #f12a00
}

.nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color: transparent
}

.mega-dropdown {
    position: static !important
}

.mega-dropdown-menu {
    padding: 20px 0;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0
}

.mega-dropdown-menu>li>ul>li {
    list-style: none
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    color: #222;
    padding: 3px 5px
}

.mega-dropdown-menu>li ul>li>a:hover,.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ff3546;
    padding: 5px 60px 5px 5px;
    line-height: 30px
}

.carousel-control {
    width: 30px;
    height: 30px;
    top: -35px
}

.left.carousel-control {
    right: 30px;
    left: inherit
}

.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
    font-size: 12px;
    background-color: #fff;
    line-height: 30px;
    text-shadow: none;
    color: #333;
    border: 1px solid #ddd
}

@media (min-width: 815px) {
    nav .navbar-header {
        margin-top:-78px;
        transition: all 0.2s ease-in-out
    }
}

@media (max-width: 815px) {
    nav .navbar-header {
        text-align:center;
        position: relative;
        z-index: 3;
        background-color: #ffffff
    }
}

@media (min-width: 815px) {
    nav .navbar-collapse {
        transition:all 0.2s ease-in-out;
        float: right;
        width: auto;
        margin: 45px 64px 0 0
    }
}

@media (max-width: 1600px) {
    nav .navbar-collapse {
        margin:45px 0 0 0
    }
}

nav.top-nav-collapse {
    height: 75px
}

@media (min-width: 815px) {
    nav.top-nav-collapse .navbar-header {
        width:20%;
        display: inline-block
    }
}

@media (min-width: 815px) {
    nav.top-nav-collapse .navbar-collapse {
        position:absolute;
        top: 0;
        left: auto;
        transform: translateX(0);
        right: 20px;
        width: 76%
    }

    nav.top-nav-collapse .navbar-collapse>ul.nav {
        text-align: right
    }

    nav.top-nav-collapse .navbar-collapse>ul.nav>li {
        margin-right: 22px;
        margin-left: 22px
    }
}

.layoutWrap {
    margin: 0 auto;
    width: 92%
}

@media (min-width: 815px) {
    .layoutWrap {
        width:94%;
        position: relative
    }
}

@media (min-width: 816px) and (max-width: 1024px) {
    .layoutWrap {
        width:96%
    }
}

@media (min-width: 815px) {
    .layoutWrap.wid95 {
        width:95%;
        margin-right: 0
    }
}

.img-body img {
    display: flex;
    margin: 0 auto;
    height: 40vh;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .img-body {
    width: 400px;
    aspect-ratio: 1/1;
    outline-color: red;
    display: inline-block;
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    border-color: white;
  }